{% include 'patientapp/patientheader.html' %}
{% load static %}
<br><br>

<center>
    <h2>Intrest Message From Donor</h2>
    <table border="1" cellpadding="5" cellspacing="5" width="50%">

    <table border="1" cellspacing="2" cellpadding="2" width="50%">
    <tr>
        <td>Donorname</td>
        <td>Address</td>
        <td>Gender</td>
        <td>Age</td>
        <td>Mobile</td>
        <td>Email</td>
        <td>Blood Group</td>
        <td>Message</td>




        <!--<tr>
            <td>{{ admin1.Fullname }}</td>
        <td>{{ admin1.Email }}</td>
        <td>{{ admin1.Address }}</td>
        <td>{{ admin1.Country }}</td>
        <td>{{ admin1.State }}</td>
        <td>{{ admin1.City }}</td>
        <td>{{ admin1.Gender }}</td>
        <td>{{ admin1.Course }}</td>-->



    </table>

    </form>
    </table>



</center>
<br><br><br><br><br>
{% include 'loginapp/footer.html' %}