{% include 'donorapp/donorheader.html' %}
{% load static %}
<br><br>

<center>
    <h2>View Patient Requests</h2>
    <table border="1" cellpadding="5" cellspacing="5" width="50%">
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>MobileNumber</th>
      <th>Bloodgroup</th>
      <th>Email</th>
      <th>RequiredDate</th>
      <th>Details</th>
    </tr>

        {% for i in user2 %}
        <tr>

        <td>{{ i.Name }}</td>
      <td>{{ i.Gender }}</td>
      <td>{{ i.Age }}</td>
      <td>{{ i.MobileNumber }}</td>
      <td>{{ i.BloodGroup }}</td>
      <td>{{ i.Email }}</td>
      <td>{{ i.RequiredDate }}</td>
      <td>{{ i.Details }}</td>
          {% endfor %}


    </tr>
    </table>
</center>
<br><br><br><br><br>
{% include 'loginapp/footer.html' %}
