{% include 'donorapp/donorheader.html' %}
{% load static %}

<br><br><br><br>  <!capture data from 'blooddonated.htnl' and display here(just view page)-->

<center>
    <h2>View Donations</h2>
    <table border="1" cellpadding="5" cellspacing="5" width="50%">

        <th><label>Camp Name</label></th>

      <th><label>Date of Donation</label></th>




            <th><label>No:of units given</label></th>

            <th><label>Email</label></th>
    </table>
</center>
<br><br><br>
{% include 'loginapp/footer.html' %}







    </table>
</center>
