{% include 'loginapp/header.html' %}
{% load static %}

<br>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>
<center>
<h2>CHARITY & DONATIONS</h2>
</center>

<div class="row">
  <div class="column">

    {% load static %}<img src="{% static 'blog1.jpg' %}" alt="charity" style="width:100%">
  </div>
  <div class="column">
    {% load static %}<img src="{% static 'blog2.jpg' %}" alt="charity" style="width:100%">
  </div>
  <div class="column">
   {% load static %}<img src="{% static 'blog3.jpg' %}" alt="charity" style="width:100%">
  </div>
   <div class="column">
   {% load static %}<img src="{% static 'blog4.jpg' %}" alt="charity" style="width:100%">
  </div>
   <div class="column">
   {% load static %}<img src="{% static 'blog5.jpg' %}" alt="charity" style="width:100%">
  </div>
   <div class="column">
   {% load static %}<img src="{% static 'blog6.jpg' %}" alt="charity" style="width:100%">
  </div>
   <div class="column">
   {% load static %}<img src="{% static 'blog7.jpg' %}" alt="charity" style="width:100%">
  </div>
   <div class="column">
   {% load static %}<img src="{% static 'blog8.jpg' %}" alt="charity" style="width:100%">
  </div>
   <div class="column">
   {% load static %}<img src="{% static 'blog9.jpg' %}" alt="charity" style="width:100%">
  </div>
   <div class="column">
   {% load static %}<img src="{% static 'blog10.jpg' %}" alt="charity" style="width:100%">
  </div>
   <div class="column">
   {% load static %}<img src="{% static 'blog11.jpg' %}" alt="charity" style="width:100%">
  </div>
   <div class="column">
   {% load static %}<img src="{% static 'blog12.jpg' %}" alt="charity" style="width:100%">
  </div>
   <div class="column">
   {% load static %}<img src="{% static 'blog13.jpg' %}" alt="charity" style="width:100%">
  </div>
   <div class="column">
   {% load static %}<img src="{% static 'blog14.jpg' %}" alt="charity" style="width:100%">
  </div>
   <div class="column">
   {% load static %}<img src="{% static 'blog15.jpg' %}" alt="charity" style="width:100%">
  </div>

</div>
<br><br><br>
{% include 'loginapp/footer.html' %}
