{% include 'loginapp/header.html' %}
{% load static %}

<br>

<center>
    <br>
     {% load static %}<img src="{% static 'howtodonate.png' %}" alt="bloodimage" align="left">

    <h2>How To Donate Blood</h2>
  <br>

  <p>Thank you for your humanitarian gesture to donate blood.<br><br>

You may please visit a Clinical Laboratory center and identify your blood group. The clinical test will cost you just ` 50-60. The result shall be provided within 2 hours time. In case you wish to<br> donate blood now, please visit your nearest Blood Collection Center. Alternatively you may use the Registration Form given here in the website and submit for registration. Recipient, relatives <br>or Hospital authorities will contact you directly.</p>
<br><br>
    <h2>Donor Criterias To Donate Blood</h2>
    <br>
     {% load static %}<img src="{% static 'howtodonate.png' %}" alt="bloodimage" align="right">

<p>Overall health- The donor must be fit and healthy, and should not be suffering from transmittable diseases. Age and weight- The donor must be 18–65 years old and should weigh a minimum of 50 kg. <br>Pulse rate- Between 50 and 100 without irregularities. Hemoglobin level- A minimum of 12.5 g/dL.</p>
   <br><br>
    <h2>Who is Ineligible ?</h2>
    <br>

    <p>1) A person who has been tested HIV positive.<br>2) Individuals suffering from ailments like cardiac arrest, hypertension, blood pressure<br> cancer, epilepsy, kidney ailments and diabetes<br></p>
    <p>3) A person who has undergone ear/body piercing or tattoo in the past 6 months.<br>4) Individuals who have undergone immunization in the past 1 month.<br></p>
     {% load static %}<img src="{% static 'howtodonate.png' %}" alt="bloodimage" align="left">
    <p>5) Individuals treated for rabies or received Hepatitis B vaccine in the past 6 months.<br> 6) A person who has consumed alcohol in the past 24 hours.<br>
 7) Women who are pregnant or breastfeeding.</p>

    <p>8)Individuals who have undergone major dental procedures or general surgeries in the past 1 month.<br>
 9) Women who have had miscarriage in the past 6 months.</p>
    <p>10) Individuals who have had fits, tuberculosis, allergic disorders in the past.<br>
  11) Individuals who currently have asthma with active symptoms, and severe asthma patients.</p>
</center>
<br><br><br>
{% include 'loginapp/footer.html' %}